<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Task Tracker</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 100px;" class="ui container">
        <h1 class="ui center aligned header">Mimi's Flask Task Tracker</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Tasks to be done</label>
                <input type="text" name="title" placeholder="Enter tasks..."><br>
            </div>
            <button class="ui blue button" type="submit">Add a task</button>
        </form>

        <hr>

        {% for task in task_list %}
        <div class="ui segment">
            <p class="ui big header">{{task.id }} | {{ task.title }}</p>

            {% if task.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui animated button" href="/update/{{ task.id }}" tabindex="0">
                <div class="visible content">✔</div>
                <div class="hidden content">
                    <i class="thumbs up icon"></i>
                </div>
            </a>

            <a class="circular ui icon button" href="/delete/{{ task.id }}">
                <i class="icon trash"></i></a>

        </div>
        {% endfor %}
    </div>
</body>

</html>